1 ICON "app.ico"
1 VERSIONINFO
FILEVERSION 2,0,5,0
PRODUCTVERSION 2,0,5,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041004B0"
    BEGIN
      VALUE "CompanyName", "Data Engineer"
      VALUE "FileDescription", "Data Engineer - telemetria e muretto per Le Mans Ultimate"
      VALUE "FileVersion", "2.0.5"
      VALUE "ProductName", "Data Engineer"
      VALUE "ProductVersion", "2.0.5"
      VALUE "OriginalFilename", "DataEngineer.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0410, 1200
  END
END
